body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    line-height: 1;
    color: $textColor;
    background-color: $bgColor;
}

// font-family: 'Hind Siliguri', sans-serif;
// font-family: 'Work Sans', sans-serif;