.logo {
    color: $textColor;
    text-decoration: none;
    text-transform: uppercase;

    font-family: 'Hind Siliguri', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -1px;
}